
h1{
    color: cadetblue;
}

button{
    background-color: cadetblue;
    color: aliceblue;
    padding: 16px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px
}

.registros{
background-color: aquamarine;
}

.input{
    background-color: cadetblue;
    color: aliceblue;
    padding: 16px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px 
}

.adicionar{
    background-color: blue;
}